<!DOCTYPE html>
<html>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>Dou</title>
</html>
<body>
       
      
            
</body>