<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <title>Competition</title>
    </head>
    <body>
        <header id="main-header" class="bg-info text-white p-4 mb-3">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                    <h1 id="header-title">Programming Contest</h1>
                </div>
                <div class="col-md-6 align-self-center">
                    <input type="text" class="form-control" id="filter" placeholder="Search Contest..">
                </div>
              </div>
            </div>
          </header>
          
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Code</th>
                <th scope="col">Successful Submission</th>
                <th scope="col">Accuracy</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Hello World</th>
                <td><a href='/users/coderun'>HW1</a></td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <th scope="row">Crush the Candies</th>
                <td><a href='/users/coderun'>CCR23</a></td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <th scope="row">Run the Wheel</th>
                <td><a href='/users/coderun'>RRW231</a></td>
                <td>0</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
          
          
          
          
          
    </body>
</html>