<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="/coursesstyle.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
     
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <style>
        
      </style>
    </head>

    <body>
      <section id="create">
        <div class="container">
        <div class="row">
          <div class="col s12 m6">
          <h3>CODING ISLAND</h3>
          </br>
          <h5>LEARN,CODE,BUILT</h5>
          <p class="lourr">
           Explore a new world of learning.Coding skills for the creators of tomorrow. Start learning. Happy coding!
          </p>
      
        </div>
        <div class="col s12 m6 text-center ">
          <img   src="/try1.png" class=" responsive-img">
        </div>
      </div>
      
        </div>
        </section>
        <section class="section section-icons grey lighten-4 center">
          <div class="container">
            <div class="row">
              <div class="col-12  text-center mt-5" >
                <h3 class="text-dark  change  pt-4">Popular Courses </h3>
              </br>
                 
              <div class="col s12 m4">
                <div class="card-panel">
                  <img src="/1..png" height="150px"  width="200px" alt="" >
              


                  <h4></h4>
                  <h5>Python 3 Tutorial</h5>
                  <p>Learn Python, one of today's most in-demand programming languages on-the-go! Practice writing Python code, collect points, & show off your skills now!</p>
                 
                </br>
                <a href="/learn/learnpython" class="play">Start</a>

              </div>
              </div>
              <div class="col s12 m4">
                <div class="card-panel">
                  <img src="/2..png" height="150px" width="200px" alt="" >


                  <h4></h4>
                  <h5>C++ Tutorial</h5>
                  <p>Our C++ tutorial covers basic concepts, data types, arrays, pointers, conditional statements, loops, functions, classes, objects, inheritance, and polymorphism.</p>
                </br>
                <a href="/learn/learncplus" class="play">Start</a>

              </div>
            </div>
              
              <div class="col s12 m4">
                <div class="card-panel">
                  <img src="/4..png" height="150px" width="200px" alt="" >

                  <h4></h4>
                  <h5>Java Tutorial</h5>
                 <p>With our interactive Java course, you’ll learn object-oriented Java programming and have the ability to write clear and valid code in almost no time at all.</p>
                </br>
                <a href="/learn/learnjava" class="play">Start</a>

               
              </div>
              </div>
             
          </div>
          </div>
        </section>
      </section>
      <section class="section section-icons grey lighten-4 center">
        <div class="container">
          <div class="row">
            
               
            <div class="col s12 m4">
              <div class="card-panel">
                <img src="/3..png" height="150px"  width="200px" alt="" >
            

                <h4></h4>
                <h5>C# Tutorial</h5>
                <p>with our interactive C# Tutorial,you will learn C# programming on-the-go. practice writting C# collect points and showw off your skills </p>
               
              </br>
              <a href="/learn/chas" class="play">Start</a>

            </div>
            </div>
            <div class="col s12 m4">
              <div class="card-panel">
                <img src="/11...jpg" height="150px" width="200px" alt="" >


                <h4></h4>
                <h5>C Tutorial</h5>
                <p>our C tutorial covers basic concepts,data types,arrays,pointers ,conditional statements,loops,strings,structures,and much more.</p>
              </br>
              <a href="/learn/see" class="play">Start</a>

            </div>
          </div>
            
            <div class="col s12 m4">
              <div class="card-panel">
                <img src="/8..jpg" height="150px" width="200px" alt="" >


                <h4></h4>
                <h5>HTML Fundamentals</h5>
               <p>This course will teach you how to design a webpage using HTML. complete a series of hands-on exercises and practice while writing real HTML</p>
              </br>
              <a href="/learn/learnhtml" class="play">Start</a>

             
            </div>
            </div>

            <div class="col s12 m4">
              <div class="card-panel">
                <img src="/5..png" height="150px" width="200px" alt="" >


                <h4></h4>
                <h5>Machine Learning</h5>
               <p>Learn how to create those intelligent recomendation systems that power our daily lives.Welcome to machine learning </p>
              </br>
              <a href="/learn/ml" class="play">Start</a>

             
            </div>
            </div>

            <div class="col s12 m4">
              <div class="card-panel">


                <img src="/7..jpg" height="130px" width="200px" alt="" >
                <h4></h4>
                <h5>SQL Fundamentals</h5>
               <p>This course covers an array of SQL-related topics, such as retrieving,updating data;functions and subqueries; creating & updating tables;&many more!</p>
              </br>
              <a href="/learn/sql" class="play">Start</a>

             
            </div>
            </div>

            <div class="col s12 m4">
              <div class="card-panel">


                <img src="/9..png" height="110px" width="200px" alt="" >
                <h4></h4>
                <h5>Data science with python</h5>
               <p>Data Science is a must known discipline in the era of big data.Today companies and industries must make data driven decisions to survive. learn how data science works.</p>
              </br>
              <a href="/learn/dswpy" class="play">Start</a>

             
            </div>
            </div>

            <div class="col s12 m4">
              <div class="card-panel">
                <img src="/10..png" height="150px" width="200px" alt="" >

                <h4></h4>
                <h5>CSS Fundamental</h5>
               <p>Our CSS course will teach you how to control the style & layout of websites . Complete a series of exercises and practice while filling out actual CSS templates</p> 
              </br>
              <a href="/learn/csss" class="play">Start</a>

             
            </div>
            </div>

            
    
        </div>
        </div>
      </section>