<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="/decor.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
     
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <style>
        
      </style>
    </head>

    <body>
      
        <div class="navbar-fixed">
            <nav class="grey darken-1">
              <div class="container">
                <div class="nav-wrapper">
                  <a href="#!" class="brand-logo">CodeFun</a>
                  <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                  <ul class="right hide-on-med-and-down">
                    <li>
                      <a href="/users/cour">Courses</a>
                    </li>
                    <li>
                      <a href="/users/playcode">Coding Playground</a>
                    </li>
                    <li>
                      <a href="/users/competitions">Contest</a>
                    </li>
                    <li>
                      <a href="/users/chatup">Community</a>
                    </li>
                    
                    <li>
                      <a  class="button" >Hii Aditi</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
          <ul class="sidenav" id="mobile-demo">
            <li>
              <a href="/users/cour">Courses</a>
            </li>
            <li>
              <a href="/users/playcode">Coding Playground</a>
            </li>
            <li>
              <a href="/users/competitions">Contest</a>
            </li>
            <li>
              <a href="/users/chatup">Community</a>
              
            </li>
            
            <li>
              <a  class="btn btn-primary">Hey Aditi!</a>
            </li>
          </ul>
         
                      
      
               
                  <section class="section section-follow black darken-2 white-text center">
                    <div class="container">
                      <div class="row">
                        <div class="col s12">
                          <h4>Follow inCodeAcademy</h4>
                          <p>Follow us on social media </p>
                          <a href="htttps://facebook.com" target="_blank" class="white-text">
                            <i class="fab fa-facebook fa-4x"></i>
                          </a>
                          <a href="htttps://twitter.com" target="_blank" class="white-text">
                            <i class="fab fa-twitter fa-4x"></i>
                          </a>
                          <a href="htttps://linkedin.com" target="_blank" class="white-text">
                            <i class="fab fa-linkedin fa-4x"></i>
                          </a>
                          <a href="htttps://googleplus.com" target="_blank" class="white-text">
                            <i class="fab fa-google-plus fa-4x"></i>
                          </a>
                        
                    </div>
                  </div>
                </div>
              </section>
                  
                  <!-- Footer -->
                  <footer class="section black darken-2 white-text center">
                    <p class="flow-text">Team Technoholix</p>
                  </footer>
               
        
          
        
          <!-- Section: Icon Boxes -->
          
        
          
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            const sideNav =document.querySelector('.sidenav');
            M.Sidenav.init(sideNav,{})
        </script>
        
    </body>
  </html>