<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="../public/decor.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
     
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <style>
        
      </style>
    </head>

    <body>
      
        <div class="navbar-fixed">
            <nav class="grey darken-1">
              <div class="container">
                <div class="nav-wrapper">
                  <a href="#!" class="brand-logo">CodeFun</a>
                  <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                  <ul class="right hide-on-med-and-down">
                    <li>
                      <a href="/users/cour">Courses</a>
                    </li>
                    <li>
                      <a href="/users/playcode">Coding Playground</a>
                    </li>
                    <li>
                      <a href="/users/competitions">Contest</a>
                    </li>
                    <li>
                      <a href="/users/chatup">Community</a>
                    </li>
                    <li>
                      <a href="/users/about">Setting</a>
                    </li>
                    <li>
                      <a  class="btn btn-primary" href="/users/register">Sign In</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
          <ul class="sidenav" id="mobile-demo">
            <li>
              <a href="/users/cour">Courses</a>
            </li>
            <li>
              <a href="/users/playcode">Coding Playground</a>
            </li>
            <li>
              <a href="/users/competitions">Contest</a>
            </li>
            <li>
              <a href="/users/chatup">Community</a>
              
            </li>
            <li>
              <a href="/users/about">Settings</a>
            </li>
            <li>
              <a  class="btn btn-primary" href="/users/register">Sign In</a>
            </li>
          </ul>
          
          <div id="create">
          <div class="section-main coontainer">
            <h1>CODING FOR KIDS</h1>
            <h2>LEARN,CODE,BUILT</h2>
            <p class="lead hide-on-small">
              When you throw yourself out there great things happen. Just take this course bliNdly and dive into the world of programming starting from scratch.
            </p>
            <a class="btn btn-outline-light btn-lg" href="">Start Coding</a>
          </div>
        </div>
             <section class="lay">
               <div class="container">
                 <div>
                   <h1>Coding Made Easy</h1>
                   <p>The fun way to learn programming and develop problem solving & critical thinking skills! Ages 5-17</p>
                   <a href="#" class="bnn">Start Coding</a>
                 </div>
                 <img src="/new.png">
               </div>
              </section>
              <section class="section section-icons grey lighten-4 center">
                <div class="container">
                  <div class="row">
                    <div class="col s12 m4">
                      <div class="card-panel">
                        <img src="../public/1.jpg" height="150px"  width="200px" alt="" >
                      </hr>
                        <h4>Ages 5-7</h4>
                        <h5> Voice Instructions</h5>
                        <p>Get started with code! Learn Basics. Solve logic problems</p>
                       
                      <button type="button" class="waves-effect waves-light btn">Start</button>
                    </div>
                    </div>
                    <div class="col s12 m4">
                      <div class="card-panel">
                        <img src="/2.png" height="150px" width="200px" alt="" >
                        <h4>Ages 8-13</h4>
                        <h5> Drag and Drop Coding</h5>
                        <p>Build apps and games. Explore Stem Subject </p>
                        <button type="button" class="waves-effect waves-light btn">Start</button>
                    </div>
                  </div>
                    
                    <div class="col s12 m4">
                      <div class="card-panel">
                        <img src="/3.jpg" height="150px" width="200px" alt="" >
                        <h4>Ages 14+</h4>
                        <h5>Real World Coding</h5>
                       <p>Learn Languages. Practice programming. Build Solutions</p>
                        <button type="button" class="waves-effect waves-light btn">Start</button>
                      </hr>
                    </div>
                    </div>
                  </div>
                </div>
              
                <section class="section section-icons grey lighten-4 center">
                  <div class="container">
                    <div class="row">
                      <div class="col s12 m4">
                        <div class="card-panel">
                          <img src="" alt="" >
                        </hr>
                          <h4>Python 3 Tutorial</h4>
                          <p>Learn Python, one of today's most in-demand programming languages on-the-go! Practice writing Python code, collect points, & show off your skills now!</p>
                        <button type="button" class="waves-effect waves-light btn">Start</button>
                      </div>
                      </div>
                      <div class="col s12 m4">
                        <div class="card-panel">
                          <img src="" alt="" >
                          <h4>C++ Tutorial</h4>
                          <p>Our C++ tutorial covers basic concepts, data types, arrays, pointers, conditional statements, loops, functions, classes, objects, inheritance, and polymorphism.</p>
                          <button type="button" class="waves-effect waves-light btn">Start</button>
                      </div>
                      </div>
                      <div class="col s12 m4">
                        <div class="card-panel">
                          <img src="" alt="" >
                          <h4>Java Tutorial</h4>
                          <p>With our interactive Java course, you’ll learn object-oriented Java programming and have the ability to write clear and valid code in almost no time at all.</p>
                          <button type="button" class="waves-effect waves-light btn">Start</button>
                      </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
      <div class="col s12 center">
        <a href="#contact" class="btn btn-large grey darken-3">
          <i class="material-icons left">arrow_forward</i> View all courses
        </a>
      </div>
    </div>
                     
                     
               <section  class="section section-icons white  lighten-4 center" id="boxes">
                <div class="container">
                <div class="row">
                  <div class="col s12 m4">
                   
                 
                   <div class="box">
                   <img src="/1.jpg"  class="responsive-img circle">
                    <h3>GAME-BASED LEARNING</h3>
                    <p> With CodeMonkey’s teacher kit and support team, anyone can teach the basics of computer science</p>
                   </div>
                  </div>
                  <div class="col s12 m4">
                   <div class="box">
                    <img src="/2.png"  class="responsive-img circle" >
                    <h3>REAL CODING LANGUAGES</h3>
                    <p>With CodeMonkey’s teacher kit and support team, anyone can teach the basics of computer science</p>
                   </div>
                  </div>
                  <div class="col s12 m4">
                   <div class="box">
                    <img src="/3.jpg"  class="responsive-img circle" >
                    <h3>READY TO GO COURSES</h3>
                    <p>Kids learn coding in an engaging and rewarding environment that utilizes gaming elements</p>
                   </div>
                  </div>
                  </div>
                </div>
                
                 </div>

              </section>
      
     
              <section class="section section-follow black darken-2 white-text center">
                <div class="container">
                  <div class="row">
                    <div class="col s12">
                      <h4>Follow inCodeAcademy</h4>
                      <p>Follow us on social media </p>
                      <a href="htttps://facebook.com" target="_blank" class="white-text">
                        <i class="fab fa-facebook fa-4x"></i>
                      </a>
                      <a href="htttps://twitter.com" target="_blank" class="white-text">
                        <i class="fab fa-twitter fa-4x"></i>
                      </a>
                      <a href="htttps://linkedin.com" target="_blank" class="white-text">
                        <i class="fab fa-linkedin fa-4x"></i>
                      </a>
                      <a href="htttps://googleplus.com" target="_blank" class="white-text">
                        <i class="fab fa-google-plus fa-4x"></i>
                      </a>
                    
                </div>
              </div>
              <div>
                <h3>Company Info</h3>
                <ul>
                  <li><a href ="#">All Products</a></li>
                  <li><a href ="#">About Us</a></li>
                  <li><a href ="#">Privacy Policy</a></li>
                  <li><a href ="#">Terms of Service</a></li>
                </ul>
              </div>
            </div>
          </section>
              
              <!-- Footer -->
              <footer class="section black darken-2 white-text center">
                <p class="flow-text">Team Technoholix</p>
              </footer>
           
    
      
       
                 
                  
                      
                 
        
          <!-- Section: Icon Boxes -->
          
        
          
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            const sideNav =document.querySelector('.sidenav');
            M.Sidenav.init(sideNav,{})
        </script>
        
    </body>
  </html>